[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = ">=2.9"
yamllint = ">=1.24.2"

[requires]
python_version = "3"

[scripts]
lint = "yamllint --strict --format colored ."
